{% extends "base.html" %}

{% block title%} Guide info {% endblock %}

{% block content %}

<form method="POST">
    <legend align="center">Guide Info</legend>
    <div class="form-group">

        <label for="firstname">Firstname</label>
        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">

        <label for="second_name">Second Name</label>
        <input type="text" class="form-control" id="second_name" name="second_name" placeholder="Second Name">

        <label for="phone_number">Phone Number</label>
        <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="Enter your phone number">


        <!--country-->
        <label for="country">Country</label>
            <select id="country" class='form-control'><option value="">-- Country --</option></select>
            
           <!-- end country row -->


        <label for="date_of_birth">Date Of Birth</label>
        <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" placeholder="">

        <label for="about">About you</label>
        <textarea type="text" class="form-control" id="about" name="about" placeholder="Say something about you..."></textarea>
        
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
{% endblock %}