
{% extends "base.html" %}

{% block title%} Home {% endblock %}

{% block content %}

<h2>Tour Guides</h2>
<div class="container up1">
    <div class="row">
        {% for user in users %}
        
            <div class="card" style="width: 16rem; margin: auto;">
                <div class="col sizing">
                    <a href="{{ url_for('views.user_profile', username=user.user.username) }}">
                        <img class="card-img-top" src="static/images/default.jpeg" alt="Card image cap">
                    </a>
                    
                    <div class="card-body">
                        
                        <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
                        <p>Username: {{ user.user.username }}</p>
                        <p>Location: Nairobi,Kenya</p>
                        <p>$18</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    
                    </div>
                </div>
            </div>


        {% endfor %}
    </div>
</div>

{% endblock %}
