{% extends "base.html" %}

{% block title%} Posts {% endblock %}

{% block content %}


  <h1 align="center">Feed</h1>
  <ul class="list-group list-group-flush" id="notes">
   {% if posts %}

    {% for post in posts %}
    <li class="list-group-item">
      <h3>@{{ post.author.username }}</h3>
       <p>{{ post.content }}</p> 
      <small>{{ post.post_created_at }}</small>      
      <!-- <button type="button" class="close" onClick="deleteNote({{ post.id }})">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </li>
    {% endfor %}
    {% endif %}
  </ul>
{% endblock %}